.header {
  grid-area: h;
  background-color: green;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 90%;
  margin-left: 20px;
  background-color: yellow;
  margin-top: 3px;
  border-radius: 50%;
}
.loginBlock {
  float: right;
  margin-right: 20px;
}

.loginBlock a {
  color: white;
  text-decoration: none;
  position: relative;
  top: 20px;
  right: 20px;
}
