.nav {
  grid-area: n;
  background-color: royalblue;
  padding: 20px;
  border-radius: 10px;
}
.item a {
  color: white;
  text-decoration: none;
}
.item a.activeLink {
  color: gold;
}
.sidebarFriends {
  text-align: center;
}
.sidebarFriends h3 {
  font-size: 36px;
  color: white;
  margin: 150px 0 10px 0;
}
.friends {
  display: flex;
}
