.descriptionBlock {
  padding: 10px;
}

.descriptionBlock .imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageBlock img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.imageBlock input {
  text-align: center;
  max-width: 115px;
}
.descriptionBlock .informPerson {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainPhoto {
  max-width: 200px;
}

.contact {
  padding-left: 10px;
}
