.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 100%;

  grid-template-areas:
    "h h "
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  border-radius: 10px;
  background-color: black;
  width: fit-content;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rebeccapurple;
  border-radius: 10px;
}

button {
  /* background: linear-gradient(90deg, #c4c9f5, #e4e6f7); */
  position: relative;
  color: darkblue;
  letter-spacing: 2px;
  border-radius: 40px;

  font-size: 16px;
  outline: none;
}
